@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@layer base {
  body { 
    position: absolute;
    right: -17px;
    overflow-x: hidden;
  }
}

@layer components {
    .button-theme{
      @apply bg-gray-600 dark:bg-slate-900
    }
    
    .light-text {
      @apply text-gray-800
    }
  
    .dark-text {
      @apply text-sky-400
    }

    .text-theme{
      @apply text-gray-400 dark:text-slate-900 transition-all
    }

    .second-text-theme{
      @apply text-sky-300 dark:text-sky-700 transition-all
    }

    .second-bg-theme{
        @apply bg-sky-300 dark:bg-sky-700 transition-all
      }
  
    .icon-color{
      @apply text-sky-200 dark:dark-text
    }

    .decoration-color{
        @apply decoration-sky-200 dark:decoration-sky-600 transition-all
    }
    
    .side-bg{
      @apply bg-gradient-to-r from-gray-400 to-white via-gray-400 shadow-md shadow-gray-400
    }
  
    .side-bg-dark{
      @apply bg-gradient-to-r from-gray-900 to-black via-gray-800 bg-opacity-80 shadow-md shadow-slate-900
    }
    
    .unhighlighted-text{
      @apply light-text dark:text-gray-400
    }
  
    .highlighted-text{
      @apply text-white
    }
  
    .secondary-header{
      @apply text-2xl highlighted-text font-bold 
    }
  
    .social-icon{
      @apply bg-gray-600 dark:bg-gray-900 hover:bg-sky-300 dark:hover:bg-sky-600 text-white rounded-full text-sm p-2 flex items-center justify-center
    }
  
    .side-icon{
      @apply flex unhighlighted-text group-hover:icon-color transition-all
    }
  
    .side-text{
      @apply flex unhighlighted-text group-hover:highlighted-text transition-all font-semibold
    }

    .header-text{
        @apply font-medium leading-tight text-4xl mt-0 mb-2 py-10 text-theme decoration-color underline underline-offset-[30px]
    }

    .sub-header-text{
        @apply font-poppins font-medium leading-tight text-3xl second-text-theme 
    }

    .body-text {
        @apply font-poppins text-black 
    }

    .portfolio-card-bg{
      @apply bg-white dark:bg-gray-900
    }

    .portfolio-card-button{
      @apply bg-gray-300 dark:bg-black
    }
  }
